
header{
    .main-404{
        padding: 27rem 0 35.5rem;

        .button{
            padding: 1.8rem 7.8rem;
        }
        .titleBig{
            color: #fff;
            font-size: 18rem;
            font-weight: 800;
        }
        .text{
            color: #fff;
            font-size: 3.6rem;
            margin-bottom: 7rem;
        }
    }

    .header-404{
        padding-top: 5rem;
    }
    
}