.contact{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    
    .container2{
        margin: 0 auto;
        margin-left: 21rem;
    }
    .contact-container{
        width: 53rem;
       
        padding-top: 11.3rem;
        padding-bottom: 16rem;
    }
    .titleBig{
        font-size: 5.2rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
    }
    .title{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .item-text{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        img{
            margin-right: 2rem;
            height: auto;
            width: auto;
            position: static;
        }
    }
    .item-text:last-child{
        margin-bottom: 0;
    }

    .contact-items{
        display: flex;
        justify-content: space-between;

    }

    img{
        object-fit: cover;
        object-position: 0% 45%;
        height: 47.9rem;
        width: 57.5%;
    }

}