.contact{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    
    
    .contact-container{
        width: 53rem;
       
        padding-top: 11.3rem;
        padding-bottom: 16rem;
    }
    .titleBig{
        font-size: 5.2rem;
        font-weight: 700;
        margin-bottom: 3.5rem;
    }
    .title{
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
    .item-text{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        img{
            margin-right: 2rem;
            height: auto;
            width: auto;
            position: static;
        }
    }
    .item-text:last-child{
        margin-bottom: 0;
    }

    .contact-items{
        display: flex;
        justify-content: space-between;

    }
   

    img{
        object-fit: cover;
        object-position: 0% 45%;
        height: 49.6rem;
        width: 57.5%;
    }

}

footer{
    .footer-form{
        .container{
            margin-top: 0;
            padding-top: 5rem;
        }
    }
}

@media(max-width:48rem){
    .contact{

        display: flex;
            flex-wrap: wrap;
        .container2{
            width: 95%;
            padding: 0 4.4rem;
            margin: 0;
            .contact-container{
                width: 100%;

                .titleBig{
                    margin-bottom: 5.5rem;
                }

                .contact-item{
                    .title{
                        font-size: 3.2rem;
                    }
                }
                .item-text{
                    
                    .text{
                        font-size: 2.4rem;
                    }
                }
            }
        }
        img{
            width: 100%;
        }
    }
}