$txtBlack: #001828;
$txtWhite: #fff;
body{
	font-family: $cirReg;
}
.button{
	padding: 1.78rem 4.8rem;
	font-size: 1.7rem;
	font-weight: 700;
	background: #83CEFD;
	border-radius: 6rem;
	color: $txtWhite;
	transition: .3s ease-in;
	cursor: pointer;
}
.button:hover{
	background: #55A7D9;
}
.button.success{
	background: #71F486;
}
.button.error{
	background: #FF7171;
}
.mobile{
	display: none;
}

.text{
	font-size: 1.6rem;
	color: $txtBlack;
	font-weight: 400;
}
.link{
	font-size: 1.6rem;
	color: $txtBlack;
	font-weight: 400;
}
.link::after{
	content: ">";
	margin-left: 1.2rem;
}
.title{
	font-size: 2.4rem;
	font-weight: 400;
	color: $txtBlack;
}
.titleBig{
	font-size: 4.5rem;
	color: $txtBlack;
}

.container{
	max-width: 150rem;
	width: 100%;
}

.cookie{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #001828;
	padding: 2.3rem 7.5rem;
	width: 105.7rem;
	position: fixed;
	z-index: 3;
	top: 80vh;
	left: 20%;
	img{
		margin-right: 5rem;
	}
	.text,
	.link{
		color: #fff;
	}

	.text-container{
		width: 50rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;
	}
	.text{
		font-size: 1.8rem;
		font-weight: 700;

	}
	.link{
		text-decoration: underline;
		font-weight: 400;
		font-size: 1.4rem;
	}
	.link::after{
		content: "";
	}
}

header{
	background: linear-gradient(108.32deg, #001726 7.13%, rgba(18, 6, 15, 0) 82.72%), url('../img/background.png') no-repeat;
	background-size: cover;


	.header-menu{
		
		height: 15.3rem;
		display: flex;
		flex-direction: column;
		.menu-top{
			height: 9.45rem;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			.top-info{
				display: flex;
				flex-direction: row;
				align-items: center;
				.text{
					font-size: 2rem;
					color: $txtWhite;
					font-weight: 700;
					margin-right: 1.5rem;
				}

				.contacts{
					margin-left: 7rem;
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}
		.menu-bottom{
			background: #fff;
			width: 100%;
			height: 5.877rem;
			display: flex;
			align-items: center;
			.container{
				
				
				ul{
					
					display: flex;
					justify-content: space-between;
					
					li{
						position: relative;
						a{
							padding: 1.5rem 3.5rem 1.8rem;
							transition: .3s ease-in;
						}
						a.active{
							color: #fff;
							background: #001828;
						}

						.sub-menu{
							display: none;
							z-index: 2;
							position: absolute;
							top: 3.9rem;
							color: #fff;
							background:  #001828;
							padding: 1.7rem 3.2rem;

							.title{
								color: #fff;
								margin-bottom: 2rem;
							}
							.link{
								color: #fff;
								padding: 1rem 0;
								display: inline-block;
							}
							.link::after{
								content: "";
							}

							.sub-menu__left{
								width: 24rem;
								margin-right: 3rem;
							}
							.sub-menu__right{
								width: 30rem;
							}
						}
						.sub-menu.last{
							right: 0rem;

							.sub-menu__left{
								width: 10rem;							}
							.sub-menu__right{
								width: 8rem;
							}
						}
					}
					
				}

				.text{
					font-size: 1.8rem;
					font-weight: 700;
				}
			}
		}
	}
	.header-menu__mobile{
		display: none;
	}
	.header-main{
		.container{
			.main-text{
				padding: 10.3rem 0 20.1rem;
				width: 61rem;
				p{
					color: $txtWhite;
				}
				.text{
					font-size: 2.4rem;
					margin-top: 2.6rem;
					margin-bottom: 7.4rem;
					line-height: 3.5rem;
				}
				.titleBig{
					line-height: 5.4rem;
				}
			}
		}
	}
}
main{

	.offers{
		padding: 8.5rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.offers-item{
		background: url('../img/background.png') no-repeat;
		background-size: cover;
		width: 33rem;
		height: 22.7rem;
		padding: 3rem 3.5rem 1.7rem;

		display: flex;
		flex-direction: column;
		.item-text{
			width: 16rem;

			.title{
				line-height: 3.2rem;
			}
			.text{
				margin-top: 1rem;
				margin-bottom: 4.2rem;
			}
		}

		p, a{
			color: $txtWhite;
		}
		
	}
}
footer{
	background: linear-gradient(108.32deg, #001726 40.08%, rgba(0, 23, 38, 0) 86.43%), url(../img/background.png) no-repeat;
	background-size: cover;
	padding-top: 10rem;
		
	
		

		.titleBig{
			line-height: 6.6rem;
			color: $txtWhite;
		}
		.footer-form{
			.container{
				margin-top: 1.3rem;
				.form-main{
					
					display: flex;
					margin-top: 5rem;
					input, textarea{
						padding: 1.8rem 1.8rem;
						border: 1px solid #999;
						border-radius: 4px;
						background: none;
						font-size: 1.4rem;
						color: #d1d1d1;
					}
					.main-left{
						margin-right: 8.8rem;

						p{
							margin-top: 3.3rem;
						}
						p:first-child{
							margin-top: 0;
						}

						input{
							margin-top: 1rem;
							width: 33.5rem;
						}

						input:last-child{
							margin-bottom: 3.2rem;
						}
					}
					.main-right{
						textarea{
							margin-top: 1rem;
							width: 50rem;
							height: 29.2rem;
							
						}
					}
					p::after{
						content: "*";
						color: #FC8787;
						margin-left: 0.5rem;
					}
				}
				.form-confirm{
					display: flex;
					margin-bottom: 3.6rem;
					input{
						width: 2.3rem;
						height: 2.3rem;
						background: #83CEFD;
						margin-right: 2rem;
					}
					span{
						margin-top: .5rem;
						width: 38rem;
						font-size: 1.4rem;
						line-height: 1.95rem;
					}
			
				}	
			}
		}
		.button{
			padding: 2.2rem 7rem;
			border: 0;
		}
		.text{
			font-size: 1.8rem;
			color: $txtWhite;
		}

		
	
	.footer-main{
		background: rgba(0, 0, 0, 0.5);
		margin-top: 10rem;
		.container{
			padding: 4.2rem 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.text{
				color: $txtWhite;
				font-size: 1.8rem;
			}
			.text:first-child{
				color: #b0b0b0;
			}
			.contact-icons{
				
				a{
					margin: 0 3.1rem;
				}
				a:first-child{
					margin: 0;
				}
				a:last-child{
					margin: 0;
				}
			}
		}
	}

}

@media(max-width: 48rem){
	.mobile{
		display: block;
	}
	.container{
		width: 100%;
		max-width: auto;
		padding: 0 4.4rem;
	}
	.header{
		.header-menu,
		.menu-bottom{
			display: none;
		}

		.header-menu__mobile{
			height: 12.5rem;
			width: 100%;
			background: #001828;
			display: flex;
			align-items: center;
			.container{
				display: flex;
				align-items: center;
				justify-content: space-between;

				a{
					.logo{
						width: 13rem;
					}
				}
				.toggle-bar{
					width: 5.1rem;
					margin-top: 1rem;
					margin-left: 1rem;
					span{
						width: 4.5rem;
						height: 0.13rem;
						background: #fff;
						display: block;
						margin-bottom: 1.2rem;
					}
				}
				img{
					width: 4.5rem;
    				margin-right: 1rem;
				}
			}
		}

		.header-main{
			.container{
				.main-text{
					display: flex;
					align-items: center;
					flex-direction: column;
					width: auto;
					text-align: center;
					padding: 53.5rem 0 9rem;

					.titleBig{
						width: 65rem;
						margin-bottom: 2rem;
					}
					.text{
						width: 65rem;
						line-height: 3.9rem;
						margin-bottom: 13.5rem;
						font-size: 2.6rem;
						margin-top: 2.3rem;
					}
					.button{
						padding: 5rem 11.5rem;
						font-size: 3.6rem;
						border-radius: 10rem;
					}
				}	
			}
		}
	}
	main{
		.container{
				
			.offers{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 11.4rem 0 5.6rem;
				.offers-item{
					width: 71rem;
					height: 48.7rem;
					margin-bottom: 8.5rem;
					padding: 7rem 8rem 3rem;
					.item-text{
						width: 32rem;
					}
					.title{
						font-size: 5.2rem;
						line-height: 6.5rem;

					}
					.text{
						font-size: 3rem;
						margin-top: 2.5rem;
						line-height: 4rem;
						margin-bottom: 8.5rem;
					}
					.link{
						font-size: 3.6rem;
					}
				}
			}
			
		}
	}
	footer{
		
			.footer-form{
					.container{
						margin-bottom: 10.2rem;
						.titleBig{
							font-size: 5.2rem;
							line-height: 1.7rem;
						}
						.form-main{
							margin-top: 12rem;
							display: flex;
							flex-wrap: wrap;
							margin-left: 1rem;
							

							.main-left{
								
								margin-right: 0;
								margin-bottom: 2.8rem;

								.text{
									font-size: 3.5rem;
								}
								input{
									margin-top: 2.2rem;
									width: 69rem;
									margin-bottom: 3.7rem;
									font-size: 2.8rem;
									padding: 3.1rem 3.5rem;
								}
							}
							.main-right{
								
								margin-right: 0;
								margin-bottom: 8.5rem;
								.text{
									font-size: 3.8rem;
								}
								textarea{
									margin-top: 2.2rem;
									width: 69rem;
									height: 14rem;
									font-size: 2.4rem;
									padding: 1.8rem 4rem;
								}
							}
						}
						.form-confirm{
							margin-left: 1rem;

							input{
								width: 5.2rem;
								height: 5.2rem;
								margin-right: 5rem;
							}
							.text{
								margin-top: 1rem;
								width: 66rem;
								font-size: 2.8rem;
								line-height: 3.5rem;
							}
							
						}
						.button{
							display: none;
						}
				}
				.button{
					display: block;
					border-radius: 0;
					width: 100%;
					padding: 3.5rem 7rem;
					font-size: 2.7rem;
				}
			}
			
		
		.footer-main{
			.container{
				display: flex;
				flex-wrap: wrap-reverse;
				justify-content: center;
				align-items: center;
				padding: 3.2rem 18.2rem;

				.text{
					margin: 5rem 0;
					font-size: 2.6rem;
				}
				.text:first-child{
					margin: 0;
				}
			}
		}
	}
}


