.partners{
    padding: 8rem 0 3rem;

    .partners-container{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    }
    
        .partners-item:first-child{
            margin-right: 14rem;
        }
    
   
       
   
    .partners-item{
        width: 63.3rem;
        img{
            margin-bottom: 4rem;
        }
        margin-bottom: 16rem;
       
    }
    .titleBig{
        font-size: 5.2rem;
        font-weight: 700;
        margin-bottom: 6.7rem;
    }
    .text{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    
    
}

@media(max-width: 48em){
    .partners{
        .group1,
        .group2{
            flex-wrap: wrap;

            .partners-item:first-child{
                margin-right: 0;
                
            }
            .partners-item:last-child{
                margin: 8rem 0;
                
            }
        }
        .group1{
            margin-bottom: 0;
        }
        .partners-item{
            margin: 8rem 0;

        }
        
    }
}