.partners{
    padding: 8rem 0 7rem;

    .partners-container{
        display: flex;
        flex-direction: column;
    }
    .group1,
    .group2{
        display: flex;
        .partners-item:first-child{
            margin-right: 14rem;
        }
    }
    .group1{
        margin-bottom: 16rem;
        .partners-item:first-child{
            img{
                margin-bottom: 4rem;
            }
        }
        .partners-item:last-child{
            margin-top: 6rem;
            img{
                margin-bottom: 4rem;
            }
        }
    }
    .group2{
        
        .partners-item:first-child{
            img{
                margin-bottom: 4.5rem;
            }
        }
        .partners-item:last-child{
            margin-top: 2.5rem;
            img{
                margin-bottom: 4rem;
            }
        }
    }
    .partners-item{
        width: 63.3rem;
        
        
       
    }
    .titleBig{
        font-size: 5.2rem;
        font-weight: 700;
        margin-bottom: 6.7rem;
    }
    .text{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    
    
}

@media(max-width: 48rem){
    .partners{
        .group1,
        .group2{
            flex-wrap: wrap;

            .partners-item:first-child{
                margin-right: 0;
                
            }
            .partners-item:last-child{
                margin: 8rem 0;
                
            }
        }
        .group1{
            margin-bottom: 0;
        }
        .partners-item{
            margin: 8rem 0;

        }
        
    }
}