.policy{
    padding: 11rem 0 8rem;
    
    
    .policy-text{
        width: 105.2rem;
        .top-text{
            margin-bottom: 8rem;
        }
    }
    .titleBig{
        font-size: 6.4rem;
        font-weight: 700;
        margin-bottom: 3rem;
    }
    .title{
        font-weight: 700;
        margin-bottom: 1rem;
        font-size: 3.6rem;
    }
    .text{
        line-height: 3rem;
        font-size: 2.4rem;
        margin-bottom: 3.5rem;
    }

}

@media(max-width:48rem){
    .policy{
        .policy-text{
            width: auto;
        }
    }
}