@font-face {
  font-family: 'Circle Light';
  src: url("../fonts/cirLig/Circe-Light.eot");
  src: url("../fonts/cirLig/Circe-Light.woff2");
  src: url("../fonts/cirLig/Circe-Light.woff");
  src: url("../fonts/cirLig/Circe-Light.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Light';
  src: url("../fonts/cirExLig/Circe-ExtraLight.eot");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff2");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff");
  src: url("../fonts/cirExLig/Circe-ExtraLight.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Regular';
  src: url("../fonts/cirReg/Circe-Regular.eot");
  src: url("../fonts/cirReg/Circe-Regular.woff2");
  src: url("../fonts/cirReg/Circe-Regular.woff");
  src: url("../fonts/cirReg/Circe-Regular.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Bold';
  src: url("../fonts/cirBold/Circe-Bold.eot");
  src: url("../fonts/cirBold/Circe-Bold.woff2");
  src: url("../fonts/cirBold/Circe-Bold.woff");
  src: url("../fonts/cirBold/Circe-Bold.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Bold';
  src: url("../fonts/cirExBold/Circe-ExtraBold.eot");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff2");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff");
  src: url("../fonts/cirExBold/Circe-ExtraBold.ttf");
  font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

body, input, textarea {
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

button, input, a, textarea {
  outline: none;
  cursor: pointer; }
  button:focus, input:focus, a:focus, textarea:focus {
    outline: none; }
  button:active, input:active, a:active, textarea:active {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
    vertical-align-width: 100%; }

.btn {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 147rem;
  margin: 0 auto;
  position: relative;
  max-width: unset; }

.hidden {
  overflow: hidden; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@media (max-width: 108em) {
  html {
    font-size: 9px; } }

@media (max-width: 105em) {
  html {
    font-size: 8.75px; } }

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 91em) {
  html {
    font-size: 8.4px; } }

@media (max-width: 90em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 80em) {
  html {
    font-size: 7.2px; } }

@media (max-width: 72em) {
  html {
    font-size: 6.5px; } }

@media (max-width: 68em) {
  html {
    font-size: 6px; } }

@media (max-width: 64em) {
  html {
    font-size: 5.5px; } }

@media (max-width: 60em) {
  html {
    font-size: 5.2px; } }

@media (max-width: 55em) {
  html {
    font-size: 5px; } }

@media (max-width: 51em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none; }
  body {
    -webkit-text-size-adjust: none; }
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 44em) {
  html {
    font-size: 9px; } }

@media (max-width: 38em) {
  html {
    font-size: 8px; } }

@media (max-width: 34em) {
  html {
    font-size: 7px; } }

@media (max-width: 30em) {
  html {
    font-size: 6px; } }

@media (max-width: 26em) {
  html {
    font-size: 5px; } }

@media (max-width: 22.5em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 21em) {
  html {
    font-size: 4.4px; } }

body {
  font-family: "Circle Regular"; }

.button {
  padding: 1.78rem 4.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  background: #83CEFD;
  border-radius: 6rem;
  color: #fff; }

.text {
  font-size: 1.6rem;
  color: #001828;
  font-weight: 400; }

.link {
  font-size: 1.6rem;
  color: #001828;
  font-weight: 400; }

.title {
  font-size: 2.4rem;
  font-weight: 400;
  color: #001828; }

.titleBig {
  font-size: 4.5rem;
  color: #001828; }

.container {
  max-width: 150rem;
  width: 100%; }

header {
  background: linear-gradient(108.32deg, #001726 7.13%, rgba(18, 6, 15, 0) 82.72%), url("../img/background.png") no-repeat;
  background-size: cover; }
  header .header-menu {
    height: 15.3rem;
    display: flex;
    flex-direction: column; }
    header .header-menu .menu-top {
      height: 9.45rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      header .header-menu .menu-top .top-info {
        display: flex;
        flex-direction: row;
        align-items: center; }
        header .header-menu .menu-top .top-info .text {
          font-size: 2rem;
          color: #fff;
          font-weight: 700;
          margin-right: 1.5rem; }
        header .header-menu .menu-top .top-info .contacts {
          margin-left: 7rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
    header .header-menu .menu-bottom {
      background: #fff;
      width: 100%;
      height: 5.877rem;
      display: flex;
      align-items: center; }
      header .header-menu .menu-bottom .container ul {
        display: flex;
        justify-content: space-between; }
      header .header-menu .menu-bottom .container .text {
        font-size: 1.8rem;
        font-weight: 700; }
  header .header-main .container .main-text {
    padding: 10.3rem 0 20.1rem;
    width: 61rem; }
    header .header-main .container .main-text p {
      color: #fff; }
    header .header-main .container .main-text .text {
      font-size: 2.4rem;
      margin-top: 2.6rem;
      margin-bottom: 7.4rem;
      line-height: 3.5rem; }
    header .header-main .container .main-text .titleBig {
      line-height: 5.4rem; }

main .offers {
  padding: 8.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

main .offers-item {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  width: 33rem;
  height: 22.7rem;
  padding: 3rem 3.5rem 1.7rem;
  display: flex;
  flex-direction: column; }
  main .offers-item .item-text {
    width: 16rem; }
    main .offers-item .item-text .title {
      line-height: 3.2rem; }
    main .offers-item .item-text .text {
      margin-top: 1rem;
      margin-bottom: 4.2rem; }
  main .offers-item p, main .offers-item a {
    color: #fff; }
  main .offers-item a::after {
    content: ">>";
    margin-left: 0.5rem; }

footer {
  background: linear-gradient(108.32deg, #001726 40.08%, rgba(0, 23, 38, 0) 86.43%), url(../img/background.png) no-repeat;
  background-size: cover; }
  footer .container {
    padding-top: 10rem;
    padding-bottom: 10rem; }
    footer .container .titleBig {
      line-height: 6.6rem;
      color: #fff; }
    footer .container .footer-form {
      margin-top: 1.3rem; }
      footer .container .footer-form .form-main {
        display: flex;
        margin-top: 5rem; }
        footer .container .footer-form .form-main input, footer .container .footer-form .form-main textarea {
          padding: 1.8rem 1.8rem;
          border: 1px solid #999;
          border-radius: 4px;
          background: none;
          font-size: 1.4rem;
          color: #d1d1d1; }
        footer .container .footer-form .form-main .main-left {
          margin-right: 8.8rem; }
          footer .container .footer-form .form-main .main-left p {
            margin-top: 3.3rem; }
          footer .container .footer-form .form-main .main-left p:first-child {
            margin-top: 0; }
          footer .container .footer-form .form-main .main-left input {
            margin-top: 1rem;
            width: 33.5rem; }
          footer .container .footer-form .form-main .main-left input:last-child {
            margin-bottom: 3.2rem; }
        footer .container .footer-form .form-main .main-right textarea {
          margin-top: 1rem;
          width: 50rem;
          height: 29.2rem; }
        footer .container .footer-form .form-main p::after {
          content: "*";
          color: #FC8787;
          margin-left: 0.5rem; }
      footer .container .footer-form .form-confirm {
        display: flex;
        margin-bottom: 3.6rem; }
        footer .container .footer-form .form-confirm input {
          width: 2.3rem;
          height: 2.3rem;
          background: #83CEFD;
          margin-right: 2rem; }
        footer .container .footer-form .form-confirm span {
          margin-top: .5rem;
          width: 38rem;
          font-size: 1.4rem;
          line-height: 1.95rem; }
    footer .container .button {
      padding: 2.2rem 7rem;
      border: 0; }
    footer .container .text {
      font-size: 1.8rem;
      color: #fff; }
  footer .footer-main {
    background: rgba(0, 0, 0, 0.5); }
    footer .footer-main .container {
      padding: 4.2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      footer .footer-main .container .text {
        color: #fff;
        font-size: 1.8rem; }
      footer .footer-main .container .text:first-child {
        color: #b0b0b0; }
      footer .footer-main .container .contact-icons a {
        margin: 0 3.1rem; }
      footer .footer-main .container .contact-icons a:first-child {
        margin: 0; }
      footer .footer-main .container .contact-icons a:last-child {
        margin: 0; }

.itsm {
  padding-top: 8rem;
  padding-bottom: 13.8rem; }
