@font-face {
  font-family: 'Circle Light';
  src: url("../fonts/cirLig/Circe-Light.eot");
  src: url("../fonts/cirLig/Circe-Light.woff2");
  src: url("../fonts/cirLig/Circe-Light.woff");
  src: url("../fonts/cirLig/Circe-Light.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Light';
  src: url("../fonts/cirExLig/Circe-ExtraLight.eot");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff2");
  src: url("../fonts/cirExLig/Circe-ExtraLight.woff");
  src: url("../fonts/cirExLig/Circe-ExtraLight.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Regular';
  src: url("../fonts/cirReg/Circe-Regular.eot");
  src: url("../fonts/cirReg/Circe-Regular.woff2");
  src: url("../fonts/cirReg/Circe-Regular.woff");
  src: url("../fonts/cirReg/Circe-Regular.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Bold';
  src: url("../fonts/cirBold/Circe-Bold.eot");
  src: url("../fonts/cirBold/Circe-Bold.woff2");
  src: url("../fonts/cirBold/Circe-Bold.woff");
  src: url("../fonts/cirBold/Circe-Bold.ttf");
  font-display: swap; }

@font-face {
  font-family: 'Circle Extra Bold';
  src: url("../fonts/cirExBold/Circe-ExtraBold.eot");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff2");
  src: url("../fonts/cirExBold/Circe-ExtraBold.woff");
  src: url("../fonts/cirExBold/Circe-ExtraBold.ttf");
  font-display: swap; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000; }

body, input, textarea {
  font-size: 62.5%;
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  position: relative;
  margin: 0;
  padding: 0; }

a, a:hover {
  text-decoration: none; }

button, input, a, textarea {
  outline: none;
  cursor: pointer; }
  button:focus, input:focus, a:focus, textarea:focus {
    outline: none; }
  button:active, input:active, a:active, textarea:active {
    outline: none; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  width: 100%;
  text-align: center;
  font-size: unset;
  margin: 0;
  padding: 0; }

p {
  margin-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
    vertical-align-width: 100%; }

.btn {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  width: 147rem;
  margin: 0 auto;
  position: relative;
  max-width: unset; }

.hidden {
  overflow: hidden; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

@media (max-width: 108em) {
  html {
    font-size: 9px; } }

@media (max-width: 105em) {
  html {
    font-size: 8.75px; } }

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 91em) {
  html {
    font-size: 8.4px; } }

@media (max-width: 90em) {
  html {
    font-size: 7.9px; } }

@media (max-width: 80em) {
  html {
    font-size: 7.2px; } }

@media (max-width: 72em) {
  html {
    font-size: 6.5px; } }

@media (max-width: 68em) {
  html {
    font-size: 6px; } }

@media (max-width: 64em) {
  html {
    font-size: 5.5px; } }

@media (max-width: 60em) {
  html {
    font-size: 5.2px; } }

@media (max-width: 55em) {
  html {
    font-size: 5px; } }

@media (max-width: 51em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none; }
  body {
    -webkit-text-size-adjust: none; }
  .container {
    padding: 0;
    margin: 0 auto;
    width: 100%; } }

@media (max-width: 44em) {
  html {
    font-size: 9px; } }

@media (max-width: 38em) {
  html {
    font-size: 8px; } }

@media (max-width: 34em) {
  html {
    font-size: 7px; } }

@media (max-width: 30em) {
  html {
    font-size: 6px; } }

@media (max-width: 26em) {
  html {
    font-size: 5px; } }

@media (max-width: 22.5em) {
  html {
    font-size: 4.5px; } }

@media (max-width: 21em) {
  html {
    font-size: 4.4px; } }

body {
  font-family: "Circle Regular"; }

.button {
  padding: 1.78rem 4.8rem;
  font-size: 1.7rem;
  font-weight: 700;
  background: #83CEFD;
  border-radius: 6rem;
  color: #fff; }

.text {
  font-size: 1.6rem;
  color: #001828;
  font-weight: 400; }

.link {
  font-size: 1.6rem;
  color: #001828;
  font-weight: 400; }

.link::after {
  content: ">";
  margin-left: 1.2rem; }

.title {
  font-size: 2.4rem;
  font-weight: 400;
  color: #001828; }

.titleBig {
  font-size: 4.5rem;
  color: #001828; }

.container {
  max-width: 150rem;
  width: 100%; }

header {
  background: linear-gradient(108.32deg, #001726 7.13%, rgba(18, 6, 15, 0) 82.72%), url("../img/background.png") no-repeat;
  background-size: cover; }
  header .header-menu {
    height: 15.3rem;
    display: flex;
    flex-direction: column; }
    header .header-menu .menu-top {
      height: 9.45rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between; }
      header .header-menu .menu-top .top-info {
        display: flex;
        flex-direction: row;
        align-items: center; }
        header .header-menu .menu-top .top-info .text {
          font-size: 2rem;
          color: #fff;
          font-weight: 700;
          margin-right: 1.5rem; }
        header .header-menu .menu-top .top-info .contacts {
          margin-left: 7rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
    header .header-menu .menu-bottom {
      background: #fff;
      width: 100%;
      height: 5.877rem;
      display: flex;
      align-items: center; }
      header .header-menu .menu-bottom .container ul {
        display: flex;
        justify-content: space-between; }
      header .header-menu .menu-bottom .container .text {
        font-size: 1.8rem;
        font-weight: 700; }
  header .header-menu__mobile {
    display: none; }
  header .header-main .container .main-text {
    padding: 10.3rem 0 20.1rem;
    width: 61rem; }
    header .header-main .container .main-text p {
      color: #fff; }
    header .header-main .container .main-text .text {
      font-size: 2.4rem;
      margin-top: 2.6rem;
      margin-bottom: 7.4rem;
      line-height: 3.5rem; }
    header .header-main .container .main-text .titleBig {
      line-height: 5.4rem; }

main .offers {
  padding: 8.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

main .offers-item {
  background: url("../img/background.png") no-repeat;
  background-size: cover;
  width: 33rem;
  height: 22.7rem;
  padding: 3rem 3.5rem 1.7rem;
  display: flex;
  flex-direction: column; }
  main .offers-item .item-text {
    width: 16rem; }
    main .offers-item .item-text .title {
      line-height: 3.2rem; }
    main .offers-item .item-text .text {
      margin-top: 1rem;
      margin-bottom: 4.2rem; }
  main .offers-item p, main .offers-item a {
    color: #fff; }

footer {
  background: linear-gradient(108.32deg, #001726 40.08%, rgba(0, 23, 38, 0) 86.43%), url(../img/background.png) no-repeat;
  background-size: cover;
  padding-top: 10rem; }
  footer .titleBig {
    line-height: 6.6rem;
    color: #fff; }
  footer .footer-form .container {
    margin-top: 1.3rem; }
    footer .footer-form .container .form-main {
      display: flex;
      margin-top: 5rem; }
      footer .footer-form .container .form-main input, footer .footer-form .container .form-main textarea {
        padding: 1.8rem 1.8rem;
        border: 1px solid #999;
        border-radius: 4px;
        background: none;
        font-size: 1.4rem;
        color: #d1d1d1; }
      footer .footer-form .container .form-main .main-left {
        margin-right: 8.8rem; }
        footer .footer-form .container .form-main .main-left p {
          margin-top: 3.3rem; }
        footer .footer-form .container .form-main .main-left p:first-child {
          margin-top: 0; }
        footer .footer-form .container .form-main .main-left input {
          margin-top: 1rem;
          width: 33.5rem; }
        footer .footer-form .container .form-main .main-left input:last-child {
          margin-bottom: 3.2rem; }
      footer .footer-form .container .form-main .main-right textarea {
        margin-top: 1rem;
        width: 50rem;
        height: 29.2rem; }
      footer .footer-form .container .form-main p::after {
        content: "*";
        color: #FC8787;
        margin-left: 0.5rem; }
    footer .footer-form .container .form-confirm {
      display: flex;
      margin-bottom: 3.6rem; }
      footer .footer-form .container .form-confirm input {
        width: 2.3rem;
        height: 2.3rem;
        background: #83CEFD;
        margin-right: 2rem; }
      footer .footer-form .container .form-confirm span {
        margin-top: .5rem;
        width: 38rem;
        font-size: 1.4rem;
        line-height: 1.95rem; }
  footer .button {
    padding: 2.2rem 7rem;
    border: 0; }
  footer .text {
    font-size: 1.8rem;
    color: #fff; }
  footer .footer-main {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 10rem; }
    footer .footer-main .container {
      padding: 4.2rem 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      footer .footer-main .container .text {
        color: #fff;
        font-size: 1.8rem; }
      footer .footer-main .container .text:first-child {
        color: #b0b0b0; }
      footer .footer-main .container .contact-icons a {
        margin: 0 3.1rem; }
      footer .footer-main .container .contact-icons a:first-child {
        margin: 0; }
      footer .footer-main .container .contact-icons a:last-child {
        margin: 0; }

@media (max-width: 48rem) {
  .container {
    width: 100%;
    max-width: auto;
    padding: 0 4.4rem; }
  .header .header-menu,
  .header .menu-bottom {
    display: none; }
  .header .header-menu__mobile {
    height: 12.5rem;
    width: 100%;
    background: #001828;
    display: flex;
    align-items: center; }
    .header .header-menu__mobile .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .header-menu__mobile .container a .logo {
        width: 13rem; }
      .header .header-menu__mobile .container .toggle-bar {
        width: 5.1rem;
        margin-top: 1rem;
        margin-left: 1rem; }
        .header .header-menu__mobile .container .toggle-bar span {
          width: 4.5rem;
          height: 0.13rem;
          background: #fff;
          display: block;
          margin-bottom: 1.2rem; }
      .header .header-menu__mobile .container img {
        width: 4.5rem;
        margin-right: 1rem; }
  .header .header-main .container .main-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    text-align: center;
    padding: 53.5rem 0 9rem; }
    .header .header-main .container .main-text .titleBig {
      width: 65rem;
      margin-bottom: 2rem; }
    .header .header-main .container .main-text .text {
      width: 65rem;
      line-height: 3.9rem;
      margin-bottom: 13.5rem;
      font-size: 2.6rem;
      margin-top: 2.3rem; }
    .header .header-main .container .main-text .button {
      padding: 5rem 11.5rem;
      font-size: 3.6rem;
      border-radius: 10rem; }
  main .container .offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 11.4rem 0 5.6rem; }
    main .container .offers .offers-item {
      width: 71rem;
      height: 48.7rem;
      margin-bottom: 8.5rem;
      padding: 7rem 8rem 3rem; }
      main .container .offers .offers-item .item-text {
        width: 32rem; }
      main .container .offers .offers-item .title {
        font-size: 5.2rem;
        line-height: 6.5rem; }
      main .container .offers .offers-item .text {
        font-size: 3rem;
        margin-top: 2.5rem;
        line-height: 4rem;
        margin-bottom: 8.5rem; }
      main .container .offers .offers-item .link {
        font-size: 3.6rem; }
  footer .footer-form .container {
    margin-bottom: 10.2rem; }
    footer .footer-form .container .titleBig {
      font-size: 5.2rem;
      line-height: 1.7rem; }
    footer .footer-form .container .form-main {
      margin-top: 12rem;
      display: flex;
      flex-wrap: wrap;
      margin-left: 1rem; }
      footer .footer-form .container .form-main .main-left {
        margin-right: 0;
        margin-bottom: 2.8rem; }
        footer .footer-form .container .form-main .main-left .text {
          font-size: 3.5rem; }
        footer .footer-form .container .form-main .main-left input {
          margin-top: 2.2rem;
          width: 69rem;
          margin-bottom: 3.7rem;
          font-size: 2.8rem;
          padding: 3.1rem 3.5rem; }
      footer .footer-form .container .form-main .main-right {
        margin-right: 0;
        margin-bottom: 8.5rem; }
        footer .footer-form .container .form-main .main-right .text {
          font-size: 3.8rem; }
        footer .footer-form .container .form-main .main-right textarea {
          margin-top: 2.2rem;
          width: 69rem;
          height: 14rem;
          font-size: 2.4rem;
          padding: 1.8rem 4rem; }
    footer .footer-form .container .form-confirm {
      margin-left: 1rem; }
      footer .footer-form .container .form-confirm input {
        width: 5.2rem;
        height: 5.2rem;
        margin-right: 5rem; }
      footer .footer-form .container .form-confirm .text {
        margin-top: 1rem;
        width: 66rem;
        font-size: 2.8rem;
        line-height: 3.5rem; }
    footer .footer-form .container .button {
      display: none; }
  footer .footer-form .button {
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 3.5rem 7rem;
    font-size: 2.7rem; }
  footer .footer-main .container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    padding: 3.2rem 18.2rem; }
    footer .footer-main .container .text {
      margin: 5rem 0;
      font-size: 2.6rem; }
    footer .footer-main .container .text:first-child {
      margin: 0; } }

.itsm {
  padding-top: 8rem;
  padding-bottom: 13.8rem; }
  .itsm .titleBig {
    margin-bottom: 5.2rem;
    font-size: 5.2rem;
    margin-top: 0.5rem; }
  .itsm .itsm-groups {
    display: flex;
    flex-direction: column; }
    .itsm .itsm-groups .group1,
    .itsm .itsm-groups .group2 {
      display: flex;
      justify-content: space-between; }
    .itsm .itsm-groups .group1 {
      margin-bottom: 4rem; }
  .itsm .itsm-item1,
  .itsm .itsm-item2 {
    width: 72.4rem;
    height: 37.3rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .itsm .itsm-item1 .text,
    .itsm .itsm-item2 .text {
      font-size: 3rem;
      line-height: 4.4rem;
      margin: 0 18rem 0 5rem; }
  .itsm .itsm-item1 {
    background: url(../img/consulting-white.png) no-repeat;
    background-size: cover; }
    .itsm .itsm-item1 .text {
      color: #001828; }
  .itsm .itsm-item2 {
    background: url(../img/consulting-blue.png) no-repeat;
    background-size: cover; }
    .itsm .itsm-item2 .text {
      color: #fff; }

@media (max-width: 48rem) {
  .itsm .group1 {
    flex-wrap: wrap; }
    .itsm .group1 .itsm-item2 {
      margin-top: 4rem; }
  .itsm .group2 {
    flex-wrap: wrap-reverse; }
    .itsm .group2 .itsm-item2 {
      margin-top: 4rem; } }

.automize {
  padding-top: 9.5rem; }
  .automize .titleBig {
    font-size: 5.2rem; }
  .automize .automize-groups {
    margin-top: 7rem; }
    .automize .automize-groups .group1 .automize-container,
    .automize .automize-groups .group2 .automize-container {
      display: flex; }
    .automize .automize-groups .group1 .title,
    .automize .automize-groups .group2 .title {
      font-size: 3.6rem;
      line-height: 5.3rem;
      margin-bottom: 5.5rem;
      width: 62.2rem; }
    .automize .automize-groups .group1 .automize-left .link,
    .automize .automize-groups .group1 .automize-right .link,
    .automize .automize-groups .group2 .automize-left .link,
    .automize .automize-groups .group2 .automize-right .link {
      font-size: 2.4rem;
      display: inline-block;
      font-weight: 700;
      margin-bottom: 4.8rem; }
    .automize .automize-groups .group1 .automize-left,
    .automize .automize-groups .group2 .automize-left {
      width: 77.5rem; }
    .automize .automize-groups .group1 .automize-right,
    .automize .automize-groups .group2 .automize-right {
      width: 47.5rem; }
    .automize .automize-groups .group2 {
      padding-top: 5rem;
      padding-bottom: 5.4rem; }
      .automize .automize-groups .group2 .automize-left {
        width: 49.5rem;
        margin-right: 28rem; }
      .automize .automize-groups .group2 .automize-right {
        width: 40.5rem; }

@media (max-width: 48rem) {
  .automize .automize-container {
    flex-wrap: wrap; } }

main {
  background: #f8f8f8; }
  main .container .learning-container {
    padding-top: 6.7rem;
    padding-bottom: 9.5rem;
    width: 65rem;
    display: flex;
    flex-direction: column; }
    main .container .learning-container .titleBig {
      font-size: 5.2rem;
      margin-bottom: 3rem;
      font-weight: 700; }
    main .container .learning-container .title {
      font-size: 3.6rem;
      margin-bottom: 6.5rem; }
    main .container .learning-container a {
      font-size: 4.5em;
      font-weight: 700;
      margin-bottom: 3.5rem;
      color: #000; }

.about {
  padding: 9.5rem 0.6rem 11rem; }
  .about .titleBig {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 2.5rem; }
  .about .title {
    font-size: 3.6rem;
    margin-bottom: 7rem;
    width: 76rem; }
  .about .about-items {
    display: flex;
    justify-content: space-between; }
    .about .about-items .item {
      width: 28.4rem; }
      .about .about-items .item img {
        margin-bottom: 3rem; }
      .about .about-items .item .about-text .title {
        font-size: 2.4rem;
        width: 25rem;
        line-height: 3.68rem;
        margin-bottom: 2.5rem; }
      .about .about-items .item .about-text .text {
        font-size: 1.6rem;
        line-height: 2.35rem;
        margin-bottom: 2rem; }
      .about .about-items .item .about-text .text:last-child {
        margin-bottom: 0; }

@media (max-width: 48rem) {
  .about .title {
    width: auto;
    font-weight: 700; }
  .about .about-items {
    flex-wrap: wrap; }
    .about .about-items .item {
      width: 60.4rem;
      display: flex;
      align-items: start;
      margin-bottom: 7rem; }
      .about .about-items .item img {
        margin-right: 5rem; } }

.policy {
  padding: 11rem 0 8rem; }
  .policy .policy-text {
    width: 105.2rem; }
    .policy .policy-text .top-text {
      margin-bottom: 8rem; }
  .policy .titleBig {
    font-size: 6.4rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .policy .title {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 3.6rem; }
  .policy .text {
    line-height: 3rem;
    font-size: 2.4rem;
    margin-bottom: 3.5rem; }

@media (max-width: 48rem) {
  .policy .policy-text {
    width: auto; } }

.contact {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .contact .container2 {
    margin: 0 auto;
    margin-left: 21rem; }
  .contact .contact-container {
    width: 53rem;
    padding-top: 11.3rem;
    padding-bottom: 16rem; }
  .contact .titleBig {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 3.5rem; }
  .contact .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .contact .item-text {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem; }
    .contact .item-text img {
      margin-right: 2rem;
      height: auto;
      width: auto;
      position: static; }
  .contact .item-text:last-child {
    margin-bottom: 0; }
  .contact .contact-items {
    display: flex;
    justify-content: space-between; }
  .contact img {
    object-fit: cover;
    object-position: 0% 45%;
    height: 47.9rem;
    width: 57.5%; }

@media (max-width: 48rem) {
  .contact {
    display: flex;
    flex-wrap: wrap; }
    .contact .container2 {
      width: 95%;
      padding: 0 4.4rem;
      margin: 0; }
      .contact .container2 .contact-container {
        width: 100%; }
        .contact .container2 .contact-container .titleBig {
          margin-bottom: 5.5rem; }
        .contact .container2 .contact-container .contact-item .title {
          font-size: 3.2rem; }
        .contact .container2 .contact-container .item-text .text {
          font-size: 2.4rem; }
    .contact img {
      width: 100%; } }

.vacancies {
  padding-top: 7rem;
  padding-bottom: 1.5rem; }
  .vacancies .titleBig {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 8rem; }
  .vacancies .title {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 5rem; }
  .vacancies .text {
    font-size: 2.4rem; }
  .vacancies .text:nth-child(3) {
    margin: 3rem 0 2rem; }
  .vacancies .link {
    font-size: 2.4rem;
    color: #083657; }
  .vacancies .vacancies-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .vacancies .vacancies-item {
    width: 63.3rem;
    margin-bottom: 7.5rem;
    margin-right: 9rem; }

.partners {
  padding: 8rem 0 7rem; }
  .partners .partners-container {
    display: flex;
    flex-direction: column; }
  .partners .group1,
  .partners .group2 {
    display: flex; }
    .partners .group1 .partners-item:first-child,
    .partners .group2 .partners-item:first-child {
      margin-right: 14rem; }
  .partners .group1 {
    margin-bottom: 16rem; }
    .partners .group1 .partners-item:first-child img {
      margin-bottom: 4rem; }
    .partners .group1 .partners-item:last-child {
      margin-top: 6rem; }
      .partners .group1 .partners-item:last-child img {
        margin-bottom: 4rem; }
  .partners .group2 .partners-item:first-child img {
    margin-bottom: 4.5rem; }
  .partners .group2 .partners-item:last-child {
    margin-top: 2.5rem; }
    .partners .group2 .partners-item:last-child img {
      margin-bottom: 4rem; }
  .partners .partners-item {
    width: 63.3rem; }
  .partners .titleBig {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 6.7rem; }
  .partners .text {
    font-size: 2.4rem;
    line-height: 3rem; }

@media (max-width: 48rem) {
  .partners .group1,
  .partners .group2 {
    flex-wrap: wrap; }
    .partners .group1 .partners-item:first-child,
    .partners .group2 .partners-item:first-child {
      margin-right: 0; }
    .partners .group1 .partners-item:last-child,
    .partners .group2 .partners-item:last-child {
      margin: 8rem 0; }
  .partners .group1 {
    margin-bottom: 0; }
  .partners .partners-item {
    margin: 8rem 0; } }

header .main-404 {
  padding: 27rem 0 35.5rem; }
  header .main-404 .button {
    padding: 1.8rem 7.8rem; }
  header .main-404 .titleBig {
    color: #fff;
    font-size: 18rem;
    font-weight: 800; }
  header .main-404 .text {
    color: #fff;
    font-size: 3.6rem;
    margin-bottom: 7rem; }

header .header-404 {
  padding-top: 5rem; }

.comand {
  padding: 8rem 0 12.3rem; }
  .comand .titleBig {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 7rem; }
  .comand .comand-container {
    display: flex;
    flex-wrap: wrap; }
  .comand .comand-item {
    display: flex;
    margin-right: 5rem;
    margin-bottom: 6rem; }
    .comand .comand-item img {
      margin-right: 3rem;
      width: 16.5rem;
      height: 16.5rem; }
    .comand .comand-item .item-text {
      width: 26.4rem; }
      .comand .comand-item .item-text .title {
        font-size: 2.4rem;
        font-weight: 700; }
      .comand .comand-item .item-text .text {
        font-size: 1.6rem;
        line-height: 2.35rem;
        margin: 2rem 0; }
      .comand .comand-item .item-text .text:last-child {
        margin: 0; }
  .comand .comand-item:nth-child(3n+3) {
    margin-right: 0; }
  .comand .comand-item:last-child {
    margin-right: 0; }

@media (max-width: 48rem) {
  .comand .comand-container {
    justify-content: center; }
  .comand .comand-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .comand .comand-item img {
      margin-right: 0;
      margin-bottom: 2rem; }
  .comand .comand-item:nth-child(3n+3) {
    margin-right: 5rem; }
  .comand .comand-item:last-child {
    margin-right: 5rem; } }

.projects {
  padding-top: 12rem;
  padding-bottom: 9.5rem; }
  .projects .titleBig {
    font-size: 5.2rem;
    font-weight: 700;
    margin-bottom: 7rem; }
  .projects .projects-container {
    display: flex;
    flex-wrap: wrap; }
  .projects .projects-item {
    background: #f3f3f3;
    width: 71.5rem;
    padding: 4.5rem 0 6.5rem 6.2rem;
    margin-right: 6rem;
    margin-bottom: 7rem;
    border-radius: 1rem; }
    .projects .projects-item img {
      margin-bottom: 7.5rem;
      margin-left: 6rem; }
    .projects .projects-item .item-text {
      width: 51.4rem; }
      .projects .projects-item .item-text .text {
        margin-bottom: 5rem;
        font-size: 2rem;
        line-height: 3rem; }
      .projects .projects-item .item-text .text:first-child {
        margin-bottom: 3.5rem;
        font-size: 2.4rem; }
      .projects .projects-item .item-text .text:last-child {
        margin-bottom: 0; }
      .projects .projects-item .item-text .title {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 2rem; }
  .projects .projects-item:nth-child(2n+2) {
    margin-right: 0; }
  .projects .projects-item:nth-child(2) img {
    margin-bottom: 9.5rem;
    margin-left: 5rem;
    margin-top: 1.5rem; }
  .projects .projects-item:nth-child(3) img {
    margin-bottom: 10rem;
    margin-left: 6rem;
    margin-top: 5rem; }
  .projects .projects-item:nth-child(4) img {
    margin-bottom: 11rem;
    margin-left: 5.7rem;
    margin-top: 6rem; }

@media (max-width: 48rem) {
  .projects .projects-container {
    justify-content: center;
    align-items: center; }
  .projects .projects-item {
    width: 65.5rem;
    padding-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .projects .projects-item img {
      width: 50rem;
      margin-left: 0; }
  .projects .projects-item:nth-child(2) img {
    margin-bottom: 9.5rem;
    margin-left: 0;
    margin-top: 1.5rem; }
  .projects .projects-item:nth-child(3) img {
    margin-bottom: 10rem;
    margin-left: 0;
    margin-top: 5rem; }
  .projects .projects-item:nth-child(4) img {
    margin-bottom: 11rem;
    margin-left: 0;
    margin-top: 6rem; } }

.offer {
  padding-top: 12rem; }
  .offer .container img {
    margin-bottom: 5.65rem;
    width: 18.3rem; }
  .offer .container .titleBig {
    font-size: 4.8rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 6rem;
    width: 85rem;
    line-height: 6rem; }
  .offer .container .titleBig:last-child {
    margin-bottom: 1rem; }
  .offer .container .offers-header .contact-us {
    margin-bottom: 12rem;
    display: flex;
    align-items: center; }
    .offer .container .offers-header .contact-us .button {
      padding: 2.5rem 6.5rem;
      background: #083657;
      font-size: 1.4rem;
      margin-right: 4rem; }
    .offer .container .offers-header .contact-us form {
      position: relative; }
      .offer .container .offers-header .contact-us form input[type=text] {
        border: 1px solid #083657;
        border-radius: 6rem;
        color: #083657;
        font-size: 1.8rem;
        padding: 2rem 19rem 2rem 2rem; }
      .offer .container .offers-header .contact-us form input[type=submit] {
        position: absolute;
        border: 0;
        background: #083657;
        border-radius: 6rem;
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        padding: 2.4rem 6.3rem 2.4rem 6.3rem;
        right: 0; }
  .offer .offers-main {
    background: linear-gradient(108.32deg, #001726 7.13%, rgba(18, 6, 15, 0) 82.72%), url("../img/background.png") no-repeat;
    background-size: cover; }
    .offer .offers-main .container {
      display: flex; }
    .offer .offers-main .title,
    .offer .offers-main .text {
      color: #fff; }
    .offer .offers-main .main-item {
      border-right: 4px solid #fff;
      border-left: 4px solid #fff;
      width: 29.3rem;
      padding: 10.5rem 3rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .offer .offers-main .main-item .text {
        margin: 7.5rem 0 10rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.65rem;
        width: 23rem; }
      .offer .offers-main .main-item .title {
        font-size: 2.4rem;
        font-weight: 700; }
      .offer .offers-main .main-item .show-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
        .offer .offers-main .main-item .show-more .title {
          margin-bottom: 1rem;
          font-size: 2rem; }
        .offer .offers-main .main-item .show-more img {
          width: 3rem;
          margin-bottom: 0; }
    .offer .offers-main .main-item:first-child {
      border-left: 8px solid #fff; }
    .offer .offers-main .main-item:last-child {
      border-right: 8px solid #fff; }
  .offer .offers-spec {
    padding: 10rem 0 8.5rem; }
    .offer .offers-spec .container .titleBig {
      font-size: 5rem;
      font-weight: 700;
      color: #000;
      margin-bottom: 6rem;
      width: 83.5rem;
      line-height: 7.3rem; }
    .offer .offers-spec .container .spec-items {
      display: flex; }
      .offer .offers-spec .container .spec-items .item-container {
        padding: 4rem 4rem 10rem;
        background: #fff;
        box-shadow: 8px 20px 70px rgba(0, 0, 0, 0.09);
        margin-right: 5.3rem; }
        .offer .offers-spec .container .spec-items .item-container .title {
          font-size: 2.4rem;
          font-weight: 700;
          color: #000;
          width: 18.5rem; }
        .offer .offers-spec .container .spec-items .item-container .text {
          margin: 5rem 0 6rem;
          font-size: 1.8rem;
          color: #000000;
          width: 38.7rem; }
        .offer .offers-spec .container .spec-items .item-container .text:last-child {
          margin: 0; }
        .offer .offers-spec .container .spec-items .item-container img {
          width: 5rem;
          margin-bottom: 3rem; }
      .offer .offers-spec .container .spec-items .item-container:last-child {
        margin-right: 0; }
        .offer .offers-spec .container .spec-items .item-container:last-child img {
          width: 8.3rem; }

@media (max-width: 48rem) {
  .offer .container .titleBig {
    width: 70rem; }
  .offer .container .titleBig:last-child {
    margin-bottom: 4rem; }
  .offer .container .offers-header .titleBig {
    width: 65rem;
    margin-bottom: 10rem; }
  .offer .container .offers-header .contact-us .button {
    padding: 4.5rem 14.5rem;
    background: #083657;
    font-size: 2.8rem;
    margin-right: 4rem; }
  .offer .container .offers-header .contact-us form .button.mobile {
    border: 0;
    border-radius: 15rem;
    padding: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .offer .container .offers-header .contact-us form .button.mobile img {
      width: 5rem;
      margin-bottom: 0; }
  .offer .container .offers-header .contact-us form input {
    display: none; }
  .offer .offers-spec .container .titleBig {
    width: 60rem; }
  .offer .offers-spec .container .spec-items {
    justify-content: center;
    flex-wrap: wrap; }
    .offer .offers-spec .container .spec-items .item-container {
      margin-right: 0;
      margin-bottom: 5rem; }
      .offer .offers-spec .container .spec-items .item-container .title {
        font-size: 4.2rem;
        width: 32.5rem; }
      .offer .offers-spec .container .spec-items .item-container .text {
        margin: 5rem 0 6rem;
        font-size: 3.6rem;
        width: 64.7rem; }
      .offer .offers-spec .container .spec-items .item-container img {
        width: 7rem;
        margin-bottom: 5rem; }
  .offer .offers-main .container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .offer .offers-main .container .main-item {
      width: 100%;
      border-left: 4.4rem solid #fff;
      border-right: 4.4rem solid #fff;
      border-bottom: 4rem solid #fff;
      padding: 5.5rem 5rem 3rem;
      justify-content: start;
      align-items: start; }
      .offer .offers-main .container .main-item .title {
        font-size: 4.5rem;
        font-weight: 400;
        width: 41rem; }
      .offer .offers-main .container .main-item .text {
        width: 62rem;
        margin: 4.5rem 0 5rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 4.65rem; }
      .offer .offers-main .container .main-item .show-more {
        margin: 0 auto; }
        .offer .offers-main .container .main-item .show-more .title {
          width: auto;
          font-size: 2.8rem; } }
